<!-- <ion-view view-title="Estados Ruta" left-buttons="leftButtons" right-buttons="rightButtons"> -->
<ion-view view-title="Chat">
  <!--   <ion-header-bar class="bar-dark">
  <button class="button icon ion-navicon" ng-click="myGoBack()"></button>
  <h1 class="title title-center" >Resumen ruta</h1>
</ion-header-bar> -->
<ion-content ng-init="getAlumnos()">
  <ion-list>
      <a class="item item-avatar" href="#">
        <img src="img/bus.png">
        <h2>Ruta #1</h2>
        <p>Calle 1 a Calle 20</p>
        <p>Estado: <span class="estado">En trancon</span></p>
        <p>La ruta se encuentra en un trancon en la calle 68 con esperanza por acidente en la via</p>
      </a>
  </ion-list>
</ion-content>
</ion-view>
