<ion-view view-title="Inicio">
	<div class="row col col-100">
		<ion-content class="center">
			<img  class="Home-logo"src="img\logo\logoctl.png" alt="" />
			<div class="Home">
				<div class="item-Home" ng-click="verMapa()">
					<p><i class="icon ion-location"></i></p>
					<p>Ruta</p>
				</div>
				<div class="item-Home" ng-click="verlistAlumno()">
					<p><i class="icon ion-android-contacts"></i></p>
					<p>Mi Hijo</p>
				</div>
				<div class="item-Home" ng-click="verNotification()">
					<p><i class="icon ion-android-chat"></i></p>
					<p>Notificaciones</p>
				</div>
				<div class="item-Home" ng-click="verEstadoRuta()">
					<p><i class="icon ion-android-bus"></i></p>
					<p>Estado Ruta</p>
				</div>
			</div>
		</ion-content>
	</div>
</ion-view>
