

<!-- <ion-view view-title="Lista Alumnos" left-buttons="leftButtons" right-buttons="rightButtons"> -->
<ion-view view-title="Perfil Hijos">
  <!--   <ion-header-bar class="bar-dark">
  <button class="button icon ion-navicon" ng-click="myGoBack()"></button>
  <h1 class="title title-center" >Alumnos</h1>
</ion-header-bar> -->
<ion-content>
  <div class="list card">

    <div class="item item-avatar">
      <img src="img/user.png">
      <h2>Valentina Arenas Garzon</h2>
      <p>Documento : 1023163596</p>
    </div>

    <div class="item item-body">
      <p>Direccion : Cra 103d 83 45</p>
      <p>Telefono : 433 5335</p>
      <p>Fecha nacimiento : 2005-10-07</p>
      <p> Curso : 303</p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-ios-location"></i>
        Ubicacion
      </a>
      <a class="tab-item" ng-click="chat()">
        <i class="icon ion-chatbubbles"></i>
        Chat
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Notificaciones
      </a>
    </div>

  </div>
</ion-content>

</ion-view>
